.terraform
.idea
.DS_Store
.env*
!.env.template
.last_used_env
.tfplan.*
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
**/.tfplan.*
tests/periodic-test/build-template/e2b.toml
.air
go.work.sum
.infisical.json
.vscode/mise-tools
/packages/fc-kernels

bionic.rootfs.ext4
vmlinux-5.10.bin.1
vmlinux-5.10.bin

e2b-venv/
bin/orchestrator

# Backup files and temporary data
local-deploy/.last_e2b_backup
local-deploy/.ossutil_checkpoint/
local-deploy/db-backups/
local-deploy/postgres-backup/
local-deploy/jobs.backup*/
local-deploy/jobs/*.backup*
local-deploy/*.backup

# Compiled binaries
packages/api/api
packages/orchestrator/orchestrator

# Separate git repositories
surf/

