go 1.25.4

use (
	./local-deploy
	./packages/api
	./packages/clickhouse
	./packages/client-proxy
	./packages/db
	./packages/docker-reverse-proxy
	./packages/envd
	./packages/local-dev
	./packages/orchestrator
	./packages/shared
	./cmd/test-create-vm

	./tests/integration
)

replace cloud.google.com/go/storage => cloud.google.com/go/storage v1.30.0

replace cloud.google.com/go => cloud.google.com/go v0.110.1
